# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.packages
build/
coverage/

pubspec.lock

doc/api/


.env*

*.dart.js
*.info.json
*.js

*.js_
*.js.deps
*.js.map

.flutter-plugins
.flutter-plugins-dependencies
